html, body {
  margin: 0;
  padding: 0;
  font-family: "Brandon Grotesque", sans-serif;

}

#holder {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.mainCol {
  display: inline-block;
}

#canvas_and_preview {
  display: inline;
  margin-left: 10px;
  width: min-content;
  order: 1;
}

#canvasWrapper {
  display: inline-block;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;

}

#canvas_shell {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  
  /*
  margin-top: 0px;
  margin-left: 0px;
  height: 764px;
  height: #canvas.height;
  width: #canvas.width;*/
}

#defaultCanvas {
  display: none;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}

#generation_settings {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  flex-flow: column nowrap;
  align-items: center;
  transform: translateY(50%);
  /*max-width: 300px;*/
}

#confirm_generation {
  margin-bottom: 15px;
}

#modeSelect {
  width: max-content;
  color: white;
}

#modeSelect legend {
  margin: auto;
  color:#ED225D;
  padding: 3px 6px;
  border: 1px solid white;
  font-size: large;
  /*stroke:white;*/
  /*background-color:white;*/
}

#preview_controls {
  display: none;
  height: 50px;
  width: 98.6%;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  /*display: none;*/
  /*change to display flex*/
  justify-content: center;
  align-items: center;
  color: white;
  line-height: normal;
}

.previewButton {
  width: 10%;
  height: 45%;
}

#pageNumIn {
  width: 20%; 
  height: 45%; 
  margin-left: 10px; 
  margin-right: 10px;
}

#authStuff { 
  margin-left: 10px;
  margin-top: 0px;
  order: 3; 
}

.authButton {
  margin-bottom: 10px;
}

#authorize_button {
  display: block;
}

#signout_button {
  display: none;
}

#print_button {
  display: none;
}

#page_list {
  font-family: "Brandon Grotesque", sans-serif;
  /*margin-left: 10px;*/
  display: none;
  /*change to display: inline-block;*/
  border: 1px solid white;
  width: 620px;
  color: white;
  position: absolute;
  order: 2;
  margin-left: 10px;
}

#instructions {
  margin: 10px;
  color: white;
  font-family: "Brandon Grotesque", sans-serif;
}

@font-face { 
  font-family: "Brandon Grotesque";
  src: url('Fonts\\Web\\Brandon-Grotesque-Web-Regular.eot');
  src: url('Fonts\\Web\\Brandon-Grotesque-Web-Regular.eot') format('embedded-opentype'),
       url('Fonts\\Web\\Brandon-Grotesque-Web-Regular.woff2') format('woff2'),
       url('Fonts\\Web\\Brandon-Grotesque-Web-Regular.woff') format('woff'),
       url('Fonts\\Brandon-Grotesque-Regular.otf') format('opentype'); 
} 

:root {
  --c7-page-height: 955px;
  /*onload="resizeIframe(this);*/
}

#credits {
  display: inline-block;
  margin-left: 10px;
}

#priceIncluded {
  margin-top: 10px;
}

.checkboxSpacer {
  width: 20px; 
  height: 13px; 
  display: inline-block;
}

/*wide display, pageList right*/
@media only screen and (min-width: 1500px) {
  #authStuff {
    order: 2;
  }

  #pageList {
    order: 3;
  }

}